{% if node.getRevisionAuthor().field_description.value %}
{% set description = node.getRevisionAuthor().field_description.value %}
{% endif %}

{% if node.getRevisionAuthor().field_full_name.value %}
{% set full_name = node.getRevisionAuthor().field_full_name.value %}
{% endif %}
{% if full_name is null %}
{% set full_name =  author_name %}
{% endif %}

{% set img_uri = node.field_image.entity.uri.value %}
{% set img_url = file_url(img_uri) %}
{% set img_alt = node.field_image.alt %}
{% set length_image = node.field_image|length  %}
{% set img_arr = node.field_image %}
{% set comment_count =  node.field_blog_comments.comment_count %}

{% set image1140x760 = getUrlByImageStyle(img_uri, 'image1140x760')  %}
{% set image870x395 = getUrlByImageStyle(img_uri, 'image870x395')  %}

<div class="row">
  <div class="col-md-12">
    <div class="left-side">
      <div class="post-image">
        <img class="img-fluid w-100" src="{{ image1140x760 }}" alt="{{ img_alt }}">
        <div class="post-date">{{ node.created.value|date('d') }} <span>{{ node.created.value|date('M') }}</span>
        </div>
      </div>
      <div class="blog-details">
        <div class="post-desc">
          <div class="post-title">
            <h3 class="mb-3">{{ node.getTitle() }}</h3>
            
          </div>
          {{ node.body.value|raw }}
        </div>
        <div class="post-queto pos-r mt-5">
          <span><i class="fas fa-quote-left"></i></span>
          <h5 class="mb-0 text-capitalize font-italic">{{ node.body.summary }}</h5>
        </div>
        <div class="media-holder mt-5">
            {{ content.field_blog_comments }}
      </div>
    </div>
  </div>
</div>