{%
  set body_classes = [
    class-header-5,
    'business-theme',
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage home' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    node_type == 'homepage' ? 'home' : root_path and node_type != 'blog_post' ? 'page',
    header_style == 'header5' ? 'side-navbar',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <head-placeholder token="{{ placeholder_token|raw }}">
        <!-- Stylesheet -->
        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">
        <link href=" {{ theme_path }}/css/theme-color/{{ choose_color }}.css" data-style="styles" rel="stylesheet">
        {% if general_setting_tracking_code != '' %}
            {{ general_setting_tracking_code|t }}
        {% endif %}
        {% if custom_css != '' %}
            <style type="text/css" media="all">
              {{ custom_css|t }}
            </style>
        {% endif %}
        <title>{{ head_title|safe_join(' | ') }}</title>
    </head>
    

    <body{{ attributes.addClass(body_classes)}}>
        <a href="#main-content" class="visually-hidden focusable">
            {{ 'Skip to main content'|t }}
        </a>
            <div class="page-wrapper">
              {{ page_top }}
              {{ page }}
              {{ page_bottom }}
            </div>
      <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>